* {
    font-family: 'Gill Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;

}

h3 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
    padding-bottom: 20px;
}

#deleteActivity {
    margin: 10px;
}

.activity.card {
    background-color: rgb(187, 187, 187);
    margin-top: 8px;
    margin-bottom: 8px;
}