* {
    font-family: 'Gill Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;

}

div {
    background-color: #dadada;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
    padding-bottom: 20px;
}

button {
    background-color: #c5003b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
}