* {
    font-family: 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

button {
    background-color: #005cc5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

button:hover {
    transform: scale(1.04);
}

button:active {
    transform: scale(0.98);
}

.cancel-button {
    background-color: #c5003b;
    color: white;
}

.confirm-button {
    background-color: #00c500;
    color: white;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #dadada;
}

.card {
    padding: 10px;
    background-color: #dadada;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}