#sidebar {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 12px 0px;
    background-color: #08070f;
    overflow-x: hidden;
    transition: 0.25s;
}

#sidebar.open {
    width: 60%;
    padding: 12px 12px;
}

@media (min-width: 900px) {
    #sidebar {
        width: 16%;
        padding: 12px 12px;
    }
}

#sidebar button {
    text-decoration: none;
    width: 100%;
    font-size: 25px;
    background-color: #3b384d;
    color: #ffffff;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: flex-start;
}

#sidebar button img {
    width: 32px;
    margin-right: 10px;
}

#sidebar button:hover {
    background-color: #262531;
    color: #ffffff;
}