* {
    font-family: 'Gill Sans', sans-serif;
}

body>h1 {
    padding-top: 20px;
    padding-left: 20px;
}

#createWorkoutForm {
    padding-top: 10px;
}

#workouts {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

#newWorkoutHeader {
    margin-left: 20px;
}