* {
    font-family: 'Gill Sans', sans-serif;
}

body>h1 {
    padding-top: 20px;
    padding-left: 20px;
}

#workouts {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

button {
    margin-left: 20px;
    background-color: #005cc5;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
}