.workout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #dadada;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workout button {
    margin-top: 10px;
    padding: 10px;
}