dialog>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

dialog>form>input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

#addActivity {
    margin: 10px;
}

dialog {
    width: 360px;
}

.rowButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    width: 100%;
}