h3 {
    padding: 0;
}

.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.grid-container {
    gap: 10px;
}

.grid-container>* {
    padding: 8px;
}