h3 {
    padding: 0;
}

.entry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.entry-header button {
    height: 40px;
}

.grid-container {
    gap: 10px;
}