button {
    margin: 8px;
}

#chooseWorkout>button {
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
    width: 100%;
}

#currentWorkout .header {
    display: flex;
    justify-content: space-between;
}

#currentWorkout h1 {
    padding: 8px;
    font-size: 30px;
}

#currentActivity {
    width: 100%;
    margin: 8px;
}

h4 {
    margin: 8px;
}

#nextActivity {
    margin: 8px;
    width: 60%;
}

img {
    width: 100%;
}

progress {
    height: 40px;
    width: 100%;
}

#remaining {
    font-size: 22px;
}

#closeDialog {
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
}