button {
    margin: 8px;
}


#chooseWorkout>button {
    margin-left: 0;
    margin-right: 0;
    padding: 8px;
    width: 100%;
}

#title {
    margin: 10px;
}

#currentWorkout .header {
    margin: 0;
    background-color: rgb(54, 54, 54);
    width: 100%;
    color: white;
    text-align: center;
    font-size: x-large;
    padding: 8px;
}

#currentWorkout .header img {
    width: 100%;
}

#currentWorkout h1 {
    padding: 8px;
    font-size: 30px;
}
#currentActivity {
    margin: 8px;
    margin-top: 16px;
}

#currentActivity h2 {
    margin: 8px;
    font-size: 28px;
}

#currentActivity p {
    margin: 8px;
    font-size: 26px;
    margin-bottom: 16px;
}

#currentActivity img {
    width: 100%;
}

@media (min-width: 900px) {
    #currentActivity img {
        width: 400px;
    }
}

#nextActivityLabel {
    margin: 16px;
    width: 60%;
}

progress {
    height: 40px;
    width: 100%;
}

#remaining {
    font-size: 22px;
}

#closeDialog {
    width: 100%;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
}