div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div>button {
    padding: 8px;
}

.card>div {
    display: block;
    margin: 8px;
}

#timer {
    justify-content: left;
}

p {
    margin: 8px;
}