* {
    font-family: 'Gill Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;

}

h3 {
    margin-left: 10px;
}

p {
    margin-left: 10px;
    padding-bottom: 20px;
}

#deleteActivity {
    margin: 10px;
}

#activityImage>* {
    display: block;
}

#activityImage>div {
    margin-top: 8px;
    display: flex;
    align-items: center;
}

#activityImage>div>input {
    margin: 8px;
    width: 50%;
}