
@media (min-width: 900px) {
    section.page {
        margin-left: calc(16% + 24px);
    }
}

header {
    position: relative;
    width: auto;
    height: 150px;
    background-color: rgb(54, 54, 54);
}

header h1 {
    position: absolute;
    bottom: 0%;
    padding: 8px;
    margin: 0;
    font-size: 40px;
    color: white;
}

h3 {
    padding: 10px;
}

div.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 1fr; 
}

card-element,
workout-element {
    margin: 10px;
}

@media (min-width: 900px) {
    #addActivity, #addWorkout {
        width: 250px;
    }
}
