
@media (min-width: 768px) {
    section.page {
        margin-left: calc(16% + 24px);
    }
}

header {
    position: relative;
    width: auto;
    height: 150px;
    background-color: rgb(54, 54, 54);
}

header h1 {
    position: absolute;
    bottom: 0%;
    padding: 8px;
    margin: 0;
    font-size: 40px;
    color: white;
}

h3 {
    padding: 10px;
}

div.grid-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

activity-element,
workout-element {
    margin: 10px;
}

.form-header {
    margin: 10px;
}

.form-header>button {
    width: 100%;
    font-size: 20px;
}

.form-header>form>input {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}

.form-header>form>button {
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
}

.form-header>form>div {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.form-header>form>div>label {
    margin-left: 10px;
    font-size: 18px;
}