* {
    font-family: 'Gill Sans', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1,
h2,
p {
    margin-left: 4px;
}

#activitiesList {
    margin-top: 8px;
    margin-bottom: 8px;
}

#addActivityList {
    display: none;
    margin-top: 8px;
}

#addActivityList>button {
    margin-top: 8px;
    width: 100%;
    display: block;
}

#startWorkout.in-progress {
    background-color: #ff2a00;
}

#pauseWorkout {
    background-color: #ffcc00;
}